body,
html {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
}

.scene {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(210deg, #1A449D, #1D2C4C);
  position: relative;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.scene .moon {
  position: absolute;
  top: 20%;
  left: 10%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
          box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px 1px #ffcc33;
}

.scene .name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-weight: 900;
  line-height: inherit;
  letter-spacing: inherit;
}

.scene .allstars {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scene .allstars .star1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #f090b5;
  position: absolute;
  top: 16.16673%;
  left: 374.21715px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.41244s;
          animation-delay: -0.41244s;
  -webkit-animation-duration: 2.28358s;
          animation-duration: 2.28358s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #32d1a0;
  position: absolute;
  top: 20.47566%;
  left: 463.93817px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.60777s;
          animation-delay: -0.60777s;
  -webkit-animation-duration: 3.00633s;
          animation-duration: 3.00633s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #305dec;
  position: absolute;
  top: 1.17272%;
  left: 711.76052px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.82674s;
          animation-delay: -0.82674s;
  -webkit-animation-duration: 4.68107s;
          animation-duration: 4.68107s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star4 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c0c479;
  position: absolute;
  top: 4.93802%;
  left: 671.26113px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.70594s;
          animation-delay: -0.70594s;
  -webkit-animation-duration: 3.53015s;
          animation-duration: 3.53015s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star5 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #267a01;
  position: absolute;
  top: 0.55102%;
  left: 757.43172px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.98356s;
          animation-delay: -0.98356s;
  -webkit-animation-duration: 2.68936s;
          animation-duration: 2.68936s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #1ff345;
  position: absolute;
  top: 7.22935%;
  left: 754.99369px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.07335s;
          animation-delay: -0.07335s;
  -webkit-animation-duration: 3.23729s;
          animation-duration: 3.23729s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #179b36;
  position: absolute;
  top: 13.68067%;
  left: 501.79661px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.58689s;
          animation-delay: -0.58689s;
  -webkit-animation-duration: 3.97064s;
          animation-duration: 3.97064s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star8 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #996693;
  position: absolute;
  top: 10.8645%;
  left: 376.49407px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.84783s;
          animation-delay: -0.84783s;
  -webkit-animation-duration: 4.11485s;
          animation-duration: 4.11485s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star9 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #03474a;
  position: absolute;
  top: 15.63294%;
  left: 543.78254px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.95101s;
          animation-delay: -0.95101s;
  -webkit-animation-duration: 4.15692s;
          animation-duration: 4.15692s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star10 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #bcc5cd;
  position: absolute;
  top: 25.86183%;
  left: 676.10979px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.1599s;
          animation-delay: -0.1599s;
  -webkit-animation-duration: 2.85709s;
          animation-duration: 2.85709s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star11 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fc7b25;
  position: absolute;
  top: 28.4601%;
  left: 547.06351px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.78034s;
          animation-delay: -0.78034s;
  -webkit-animation-duration: 2.31149s;
          animation-duration: 2.31149s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star12 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d54983;
  position: absolute;
  top: 27.01619%;
  left: 154.24199px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.76642s;
          animation-delay: -0.76642s;
  -webkit-animation-duration: 4.95396s;
          animation-duration: 4.95396s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star13 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d4cb76;
  position: absolute;
  top: 26.33182%;
  left: 669.24452px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.0342s;
          animation-delay: -0.0342s;
  -webkit-animation-duration: 4.66619s;
          animation-duration: 4.66619s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star14 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #de364d;
  position: absolute;
  top: 15.09924%;
  left: 766.1046px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.87296s;
          animation-delay: -0.87296s;
  -webkit-animation-duration: 3.67046s;
          animation-duration: 3.67046s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star15 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #1bd901;
  position: absolute;
  top: 20.04638%;
  left: 511.22512px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.42679s;
          animation-delay: -0.42679s;
  -webkit-animation-duration: 3.28736s;
          animation-duration: 3.28736s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star16 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #abf1f7;
  position: absolute;
  top: 8.29898%;
  left: 537.79095px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.08014s;
          animation-delay: -0.08014s;
  -webkit-animation-duration: 4.7506s;
          animation-duration: 4.7506s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star17 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #98e5e8;
  position: absolute;
  top: 27.83592%;
  left: 688.66594px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.82915s;
          animation-delay: -0.82915s;
  -webkit-animation-duration: 2.37954s;
          animation-duration: 2.37954s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star18 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #3e8fc9;
  position: absolute;
  top: 5.33652%;
  left: 556.37438px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.62082s;
          animation-delay: -0.62082s;
  -webkit-animation-duration: 3.45405s;
          animation-duration: 3.45405s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star19 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #a56d3c;
  position: absolute;
  top: 1.18767%;
  left: 472.77278px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.273s;
          animation-delay: -0.273s;
  -webkit-animation-duration: 4.58752s;
          animation-duration: 4.58752s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star20 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8db714;
  position: absolute;
  top: 25.27856%;
  left: 286.26437px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.93766s;
          animation-delay: -0.93766s;
  -webkit-animation-duration: 2.08498s;
          animation-duration: 2.08498s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star21 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #900b7f;
  position: absolute;
  top: 6.20435%;
  left: 39.90125px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.29772s;
          animation-delay: -0.29772s;
  -webkit-animation-duration: 4.25546s;
          animation-duration: 4.25546s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star22 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #44bbf0;
  position: absolute;
  top: 29.03214%;
  left: 7.54181px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.61028s;
          animation-delay: -0.61028s;
  -webkit-animation-duration: 4.3359s;
          animation-duration: 4.3359s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star23 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #22aa3f;
  position: absolute;
  top: 16.535%;
  left: 99.45258px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.30147s;
          animation-delay: -0.30147s;
  -webkit-animation-duration: 4.61639s;
          animation-duration: 4.61639s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star24 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #6a33a6;
  position: absolute;
  top: 23.03551%;
  left: 292.92469px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.58678s;
          animation-delay: -0.58678s;
  -webkit-animation-duration: 3.79529s;
          animation-duration: 3.79529s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star25 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #9c4a56;
  position: absolute;
  top: 11.83046%;
  left: 307.42352px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.10981s;
          animation-delay: -0.10981s;
  -webkit-animation-duration: 3.30005s;
          animation-duration: 3.30005s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star26 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #b91f1a;
  position: absolute;
  top: 1.05594%;
  left: 392.64235px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.83931s;
          animation-delay: -0.83931s;
  -webkit-animation-duration: 3.07185s;
          animation-duration: 3.07185s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star27 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d38be1;
  position: absolute;
  top: 18.05402%;
  left: 707.55961px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.40442s;
          animation-delay: -0.40442s;
  -webkit-animation-duration: 3.69423s;
          animation-duration: 3.69423s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star28 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c5b16a;
  position: absolute;
  top: 19.97504%;
  left: 434.99972px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.86112s;
          animation-delay: -0.86112s;
  -webkit-animation-duration: 3.74433s;
          animation-duration: 3.74433s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star29 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #319246;
  position: absolute;
  top: 23.0963%;
  left: 110.87265px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.39429s;
          animation-delay: -0.39429s;
  -webkit-animation-duration: 2.3145s;
          animation-duration: 2.3145s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.scene .allstars .star30 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #218017;
  position: absolute;
  top: 5.1328%;
  left: 181.80207px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-name: flying;
          animation-name: flying;
  -webkit-animation-delay: -0.66423s;
          animation-delay: -0.66423s;
  -webkit-animation-duration: 2.03011s;
          animation-duration: 2.03011s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}
/*# sourceMappingURL=star.css.map */